body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  background-color: rgba(254, 44, 85, 1);

  font-size: 1rem;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
button:active {
  background-color: rgba(254, 44, 85, 0.5);
}
.cropper {
  position: relative;
  max-width: 800px;
  margin: auto;
  user-select: none;
}
.cropper__container {
  position: relative;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  width: 100%;
}
.cropper__image {
  width: 100%;
}
.cropper__cropArea {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 9999px rgba(254, 44, 85, 0.7);
  z-index: 10;
}
.cropper__cropArea:hover {
  cursor: move;
}
#canvas {
  position: relative;
  z-index: 50;
  margin-top: 50px;
  background: black;
}
#resultImg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  width: 600px;
}
